body
{
    font-family:'Roboto', sans-serif;
    margin-top:60px;
}

* {
    position:relative;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
    font-family:'Roboto', sans-serif;
}

.container {
    z-index:1;
}

.m-logo {
    min-width: 270px;
    min-height:60px;
    background-image: url(../img/logo-head.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-default
{
    background-color: rgba(112, 128, 144, 0.9);
    border-color: lightgray;
}

.navbar-default .navbar-nav>li>a
{
    color: white;
    font-size: 1.2em;
}


.topMovies
{
    margin-top: 30px;
}

#topMovies-header
{
    font-family: 'Arimo', sans-serif; 
    font-size: 2.5em;
    font-weight: bold;
}

.boxHits
{
    padding: 0px;
    transition: transform 0.2s;
}

.boxHits:hover
{
    cursor: pointer;
    transform: scale(1.1);
    z-index:2;
}

.img-thumbnail
{
    background-color: lightgray;
}

.newsBox
{
    margin-top: 50px;
}

.newsBox-left
{
    font-family: 'Arimo', sans-serif;
    padding-top: 70px;
}

.newsBox-left p:nth-of-type(1)
{ 
    font-size: 2.5em;
    color: #c5c5c5;
}

.newsBox-left p:nth-of-type(2)
{ 
    margin-top: -15px;
    font-size: 3em;
    font-weight: bold;
}

.newsBox-left a 
{
    text-decoration: none;
}

.newsBox-left a:hover
{
    color: white;
}

.ticket 
{
    background-color: gray;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 12px 21px 14px 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid #c9c9c9;
}

.ticket:hover
{
    background-color: black;
}

i.book {
	width: 60px;
	height: 50px;
	background: url('../img/img-sprite.png') no-repeat -300px 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}

.newsBox-right
{
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.15);
}

#newBoxRight-header
{
    font-family: 'Arimo', sans-serif; 
    font-size: 2.5em;
    font-weight: bold;
    color: #c5c5c5;
    padding-top: 10px;
}

.subheading
{
    font-family: 'Arimo', sans-serif; 
    font-size: 1.5em;
    font-weight: bold;
}

footer
{
    margin-top: 40px;
    padding-top: 10px;
    border-top: 2px solid lightgray;
}







/* Carousel */
.carousel-placeholder {
    height:750px;
    z-index:-1;
}

#myCarousel {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    background-image:url(../img/parts/carousel-gradient.png);
}

#myCarousel h1.title {
    padding:0;
    margin:0;
    width: 100%;
    position: absolute;
    z-index: 10;
    font-family: 'Exo 2';
    font-style: italic;
    font-size: 4em;
    height: 100px;
    background-image: url(../img/grad-headerN.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#myCarousel img {
    visibility:hidden;
}

#myCarousel .item {
    background-position:top center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 1000px;
}

#myCarousel .item:after {
    content:"";
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url(../img/parts/carousel-gradient.png);
    background-position: bottom left;
    background-repeat: repeat-x;
}

.carousel-control {
    background-image:none !important;
    background-color:#000000;
    border-radius:40px;
    padding:20px;
    width:70px;
    height:70px;
    text-align:center;
    box-shadow:0px 0px 10px black;
}

.backforwardSwitch {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.carousel-caption {
    margin-bottom:250px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black, 0 3px 5px black;
}

.carousel-caption h3 {
    font-size:5em;
    font-weight:300;
}

.carousel-caption h4 {
    font-size:2.5em;
}

.carousel-caption p {
    padding-top:10px;
    padding-bottom:10px;
    font-size:1.2em;
    width:60%;
    margin:auto;
}

.carousel-indicators {
    margin-bottom:250px;
}

.carousel-indicators li {
    width:15px;
    height:15px;
    background-color:rgba(255,255,255,0.7);
    border:none;
    margin:0px;
}

.carousel-indicators li.active {
    width:15px;
    height:15px;
    border:none;
}

.carousel-control.left {
    left:20px;
}

.carousel-control.right {
    right:20px;
}